<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="Content/logo.png"></img></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
<!-- Not bad for autogenerating but relies on mod date to determine order         
       {% for p in site.pages %}
        <li>
        	<a {% if p.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %}
-->
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Stated <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Before_You_Begin.htm">Before You Begin</a>
          </li>
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Introducing_your_workspace.htm">Introducing your workspace</a>
          </li>
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Creating_Your_First_Workspace.htm">Creating Your First Workspace</a>
          </li>
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Adding_Widgets_to_Your_Workspace.htm">Adding Widgets to Your Workspace</a>
          </li>
        </ul>
      </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">How to Submit Orders <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Using_the_MD_Trader.htm">Using the MD Trader</a>
          </li>
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Using_the_Market_Grid.htm">Using the Market Grid</a>
          </li>
        </ul>
      </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Managing Orders, Fills, and Positions <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Managing_Your_Order_Book.htm">Managing Your Order Book</a>
          </li>
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Monitoring_Your_Fills.htm">Monitoring Your Fills</a>
          </li>
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Tracking_Your_Positions.htm">Tracking Your Positions</a>
          </li>
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Monitoring_All_Trading_Activity_for_a_Contract.htm">Monitoring All Trading Activity for a Contract</a>
          </li>
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Checking_Your_Trading_Activity.htm">Checking Your Trading Activity</a>
          </li>
        </ul>
      </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order Types and Order Restrictions <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Order_Types.htm">Order Types</a>
          </li>
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="Order_Restrictions.htm">Order Restrictions</a>
          </li>

<!--      Add search later
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
